@config "../../tailwind.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .w-\[inherit\] {
    width: inherit;
  }

  .h-\[inherit\] {
    height: inherit;
  }
}

/* TO HANDLE POINTERS EVENT NONE ISSUE ON CLOSING MODAL */
body {
  pointer-events: auto !important;
}

.prose
  :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)):before,
.prose
  :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)):after {
  content: "";
}

.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply no-underline;
}
